@import '~antd/dist/antd.less';

/*
@primary-color: #84e2d8;
@secondary-color: #2f54eb;
@text-color: #000000;
@text-color-secondary: #2f54eb;
@heading-color: #144848;
@layout-header-background: #112123;
@layout-sider-background: #144848;
@btn-primary-bg: #112123;
@processing-color: #13c2c2;
*/


#app {
    height: 100%;
}

#app .ant-layout{
    min-height: 100%;
}

#header .logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 24px 16px 0;
    float: left;
  }

  #content {
    padding-top: 67px;
  }